.title-experience1 {
    text-align: center;
    margin-top: 140px;
}

.card-experience{
    transition: all .3s;
    cursor: pointer;
}

.card-experience:hover{
    margin-top: -30px;
    
}


/* CSS untuk perangkat mobile (lebar layar kurang dari 768px) */
@media (max-width: 767px) {
  /* Atur gaya CSS untuk perangkat mobile di sini */
}

/* CSS untuk tablet (lebar layar antara 768px dan 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Atur gaya CSS untuk tablet di sini */
}

/* CSS untuk desktop (lebar layar 1024px ke atas) */
@media (min-width: 1024px) {
  /* Atur gaya CSS untuk desktop di sini */
}